@import url('../../common.css');

body {
    background: gray;
    font-size: 14px;
}

#wrapper {
    width: 50%;
    background: white;
    /* height: ; 설정 안한다 알아서 맞춰지게*/
    margin: 0 auto;
    /*가운데로*/
}

/*header style*/
header h1 {
    font-weight: bold;
    margin: 0 auto;
    padding: 30px;
    color: white;
    text-align: center;
    background: orange;
    font-size: 60px;
}

header h1 span {
    font-size: 15px;
    display: block;
    margin-top: 10px;
}

header .stit {
    background: lightgray;
    text-align: center;
    padding: 4px;
}

/* container style */
.container>* {
    float: left;
}

.side-menu {
    font-weight: bold;
    width: 25%;
    float: left;
}

.side-menu h3 {
    background: red;
    font-size: 1.2em;
    color: white;
    padding: 5px;
}

.container .side-menu ul li {
    margin-top: 10px;
    box-sizing: border-box;
    float: inline-end;
    padding: 10px;
    text-decoration: underline;
}

.container .side-menu ul li a:hover {
    padding-bottom: 5px;
    border-bottom: 1px dashed black;
}

/* main-content */
.container .main-content {
    background-color: aliceblue;
    float: left;
    width: 50%;
}

.container .main-content .art-piece .title {
    border: aliceblue solid 6px;
    background: navy;
    color: white;
    padding: 5px;
    font-weight: bold;
}

.container .main-content .art-piece .title a:hover {
    text-decoration: underline;
}

.container .main-content .art-piece .artist {
    font-size: 1.2em;
    font-weight: bold;
    padding: 5px;
}

.container .main-content .art-piece .detail {
    padding: 5px;
    font-size: 0.8em;
    margin-bottom: 5px;
    font-weight: 400;
}

/* banner */
.container .banner {
    width: 25%;
    float: left;
    line-height: 1.3;
    padding: 20px 10px;

}

/* 줄개행 */
.container .banner h3 span,
.container .banner h3 strong {
    display: block;
    margin-bottom: 8px;
}

.container .banner h3 .all {
    color: gray;
    font-size: 1.3em;
    font-weight: bold;
    text-decoration: underline;
}

.container .banner h3 .love {
    color: orange;
    font-size: 1.3em;
    font-weight: bold;
    text-decoration: underline;
}

.container .banner .link li {
    margin-bottom: 15px;
}

.container .banner .link li a {
    display: block;
    margin-bottom: 5px;
    width: fit-content;
}

.banner strong {
    font-size: 1.3em;
    font-weight: bold;
}

.banner .link a {
    font-weight: bold;
    text-decoration: underline;
}

/* footer */
footer {
    background: navy;
    text-align: center;
    padding: 4px;
    color: white;
    font-weight: bold;
}

footer a {
    text-decoration: underline;
}






/* base layout
body {
    font-size: 14px;
    background: #aaa;
}

#wrapper {
    width: 60%;
    margin: 0 auto;
    background: #fff;
}

/* header style 
header {
    background: #fa0;
    color: #fff;
    text-align: center;
}

header h1 {
    font-size: 8em;
    font-weight: bold;
    padding: 10px;
}

header h1 span {
    font-size: 20px;
    display: block;
    margin-top: 20px;
}

header .stit {
    background: #ccc;
    color: #333;
    padding: 5px 0;
}

/* container style 
.container > * {
    float: left;
}

/* side-menu 
.container .side-menu {
    width: 25%;
}

.container .side-menu h3 {
    font-size: 1.3em;
    font-weight: 700;
    color: #fff;
    background: #900;
    padding: 10px;
}

.container .side-menu ul {
    margin-top: 5px;
}

.container .side-menu ul li {
    padding: 10px;
}

.container .side-menu ul li a {
    font-weight: 700;
    text-decoration: underline;
}

.container .side-menu ul li:hover {
    border-bottom: 1px dashed #000;
}

/* main-content 
.container .main-content {
    background: #ddd;
    width: 50%;
    color: #123456;
}

.container .main-content .art-piece {
    margin-top: 10px;
    font-size: 1.3em;
    font-weight: bold;
    padding: 10px;
}

.container .main-content .art-piece .title {
    color: #ddd;
    background: #123456;
    padding: 7px 5px;
}

.container .main-content .art-piece .title a:hover {
    text-decoration: underline;
}

.container .main-content .art-piece .artist {
    margin: 20px 0;
}

.container .main-content .art-piece .detail {
    font-size: 0.7em;
    font-weight: 400;
}

/* banner 
.container .banner {
    width: 25%;
    font-weight: 700;
}

.container .banner h3 {
    font-size: 1.7em;
    color: #333;
    padding: 20px 10px;
}

.container .banner h3 span,
.container .banner h3 strong {
    display: block;
    margin-bottom: 10px;
}

.container .banner h3 span {
    text-decoration: underline;
}

.container .banner h3 .all {
    color: #999;
}

.container .banner h3 .love {
    color: #fa0;
}

.container .banner .link {
    padding: 0 10px;
}

.container .banner .link li {
    margin-bottom: 15px;
}

.container .banner .link li a {
    display: block;
    text-decoration: underline;
    margin-bottom: 5px;
    width: fit-content;
}

.container .banner .link li span {
    font-weight: 400;
}

/* footer 
footer {
    background: #123456;
    padding: 10px;
    font-weight: 700;
    color: #eee;
    text-align: center;
}

footer a {
    text-decoration: underline;
} */